<template name="rules">
<div class="col-md-10 col-lg-offset-2 col-lg-6">
    <h2>Om konkurransen</h2>
    <p>
    Et lag består av inntil tre deltagere, disse trenger ikke være studenter
    ved UiO. Hvert lag kan bruke så mange maskiner de selv vil, og det er
    anledning til å bruke egen datamaskin.
    </p>

    <p>
    Oppgavesettet består av 10-15 oppgaver. Hver oppgave løses ved å fylle inn
    et input-felt på en nettside deltagerne får tilgang til under konkurransen.
    Alle oppgavene egner seg for å løses med programmering, men mange oppgaver
    kan også løses analytisk.
    </p>

    <h2>Rangering</h2>
    <p>
    Hvert lag gis 10 poeng for hver løste oppgave. For hvert feilsvar reduseres
    potten på den gitte oppgaven med 2 poeng. Man får alltid minst 2 poeng for
    løst oppgave, uansett hvor mange feilleveringer man har.
    </p>

    <p>
    Vinneren er det laget som har flest poeng ved konkurransetidens utløp.
    </p>

    <h2>Hjelpemidler</h2>
    <p>
    I utgangspunktet er alle hjelpemidler tillatt, men det er generelt ikke lov
    å diskutere oppgavene med personer utenfor laget.
    </p>

    <p>
    Eksempler på ting som ikke er lov:

    <ul>
        <li>Diskutere oppgavene med personer utenfor laget</li>
        <li>Stille spørsmål på Stack Overflow</li>
        <li>Online chat med geeks</li>
        <li>Diskutere oppgaver med deltagere fra andre lag</li>
    </ul>
    </p>

    <p>
    Eksempler på ting som er lov:

    <ul>
        <li>Google etter løsninger</li>
        <li>Bruke kode fra Stack Overflow</li>
        <li>Løse likninger med Wolfram Alpha</li>
        <li>Bruke kode man selv eller andre har skrevet tidligere</li>
        <li>Bruke ferdiglaget editor config</li>
        <li>Surfe på nettet/sende meldinger/ringe med mobil/tablet, så lenge det
        ikke bryter med ovenstående regler</li>
    </ul>
    </p>

    <p>
    Vi legger ikke opp til et veldig strengt regime, men oppfordrer til å utvise god sportsånd.
    </p>
</div>
</template>
